# Dependencies
node_modules
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# Local env
.env*.local
.env
